@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i');
$Libre: 'Libre Baskerville', serif;

@import url('https://fonts.googleapis.com/css?family=Adamina');
$Adamina: 'Adamina', serif;

@import url('https://fonts.googleapis.com/css?family=Assistant:300,400');
$Assistant: 'Assistant', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
$PermanentMarker: 'Permanent Marker', cursive;

@import url('https://fonts.googleapis.com/css?family=Khand');
$Khand: 'Khand', cursive;

@import url('https://fonts.googleapis.com/css?family=Roboto:600');
$Roboto: 'Roboto', sans-serif;
