// Import Font

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i');
$Libre: 'Libre Baskerville', serif;

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');
$Playfair: 'Playfair Display', serif;

@import url('https://fonts.googleapis.com/css?family=Assistant:300,400');
$Assistant: 'Assistant', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
$PermanentMarker: 'Permanent Marker', cursive;

@import url('https://fonts.googleapis.com/css?family=Khand');
$Khand: 'Khand', cursive;
