.highlightBox {
  background-color: $background-grey;
  padding: 16px;

  p{
    font-size: 14px;
    margin-bottom: 0px;
  }

  strong {
    float:left;
    width: 80px;
  }

  a {
   text-decoration: none;
   border-bottom: 1px solid $site-color;
   // padding-bottom: 1px;
   color: #000;
  }
}

.appsSplash {
  background-color: $background-grey;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 40px;

  a {
   text-decoration: none;
   border-bottom: 1px solid $site-color;
   // padding-bottom: 1px;
   color: #000;
  }

  h1{
    margin-bottom: 24px;
  }
  h2 {
    margin-bottom: 12px;
  }
}

.annotation {
  color: $site-color;
  font-size: 12px;
  max-width: 300px;
}
