.highlightBox {
  background-color: $background-grey;
  padding: 16px;

  p{
    font-size: 14px;
    margin-bottom: 0px;
  }

  strong {
    float:left;
    width: 80px;
  }

  a {
   text-decoration: none;
   border-bottom: 1px solid $site-color;
   // padding-bottom: 1px;
   color: #000;
  }
}

.appsSplash {
  background-color: #f7f7f7;
  padding-top: 7rem;
  padding-bottom: 7rem;
  color: black;

  a {
   text-decoration: none;
   border-bottom: 1px solid $site-color;
   // padding-bottom: 1px;
   color: #999999;
  }

  h1{
    margin-bottom: 24px;
    font-size: 4rem;
    font-family: $Roboto;
    font-weight: 700;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 12px;
    font-family: $Roboto;
    color: $site-color;
  }

}
@media (max-width: 767px) {
  .appsSplash{
    padding-top: 40px;
    padding-bottom: 40px;
    margin:2rem;
    border-radius: 2rem;

    h1{
      font-size: 3rem;
    }

    h2{
      font-size: 24px;
    }
  }
}

.annotation {
  color: $site-color;
  font-size: 12px;
  max-width: 300px;
}
