.displayImage {
  display:inherit;
  width: 100%;
}

.hideImage {
  display:none;
  width: 100%;
}

.appBox {
  padding: 16px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.highlighted {
  background-color: #f5f5f5;
}

.highlightedBobble{
  color:black;
  margin-right: 0.5rem;
}

.notHighlightedBobble {
  color:#f5f5f5;
  margin-right: 0.5rem;
}

@media (max-width: 767px) {
  .notHighlighted {
    display: none;
  }
  .highlighted {
    background-color: transparent;
  }
  .appBox {
    padding:0px;
  }
}
@media (min-width: 768px) {
  .bobbles {
    display: none;
  }
}
