.footer {
  padding-top:$large-margin;
  padding-bottom:$large-margin;
  margin-bottom:0;
  color: #F5F5F5;
  background-color: #212121;

  a {
      color: #E0E0E0;
  }
  a i {
      color: #757575;
  }
}
