.footer {
  padding-top:$large-margin;
  padding-bottom:$large-margin;
  margin-bottom:0;
  color: #F5F5F5;
  background-color: black;

  a {
   text-decoration: none;
   border-bottom: 1px solid $site-color;
   // padding-bottom: 1px;
   color: #E0E0E0;
  }
  i {
      color: #757575;
  }
}
