.jumbotron {
    background: #f7f8f9;
    color: #333;
    margin-bottom: 0px;

    h1{
      font-size: 7rem;
      margin-bottom: 24px;
      font-family: $PermanentMarker;
    }

    h2 {
      font-size: 32px;
      font-weight: normal;
      font-family: $Khand;
      text-transform: uppercase;
    }

    .container{

    }

}

@media (max-width: 767px) {
  .jumbotron{
    h1 {
      font-size: 5rem;
    }
  }
}

.jumbotron p {
    font-size: 1em;
    // margin-bottom: 0.2em;
    color: #fff;
}
.jumbotron a {
    color: #B2DFDB;
}

.card{
  background-color: white;
  padding: 16px;
  color: #333;

  h1{
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }
}

.logo {
  border-style: hidden;
}

.links {
  margin-top: 40px;
  margin-bottom: 40px;
}
