.jumbotron {
    margin-bottom: 0px;
    background-color: $site-color;
    color: #B2DFDB;
    padding-top: 0px;
    padding-bottom: 0px;
}
.jumbotron strong {
    color: #fff;
}
.jumbotron h1 {
    font-size: 2em;
    font-weight: 300;
}
.jumbotron h3 {
    font-size: 2em;
}
.jumbotron h2 {
    font-size: 1.5em;
    color: #fff;
    line-height: 130%;
    font-weight: 300;
    margin-top: 8px;
}
.jumbotron p {
    font-size: 1em;
    margin-bottom: 0.2em;
    color: #fff;
}
.jumbotron a {
    color: #B2DFDB;
}
.jumbotron h3 {
    color: #ffffff;
}

.logo {
    margin-bottom: 20px;
}

.links {
  margin-top: 20px;
}
