.jumbotron {
    background: #FFFFFF;
    color: #263238;
    margin-bottom: 0px;
    margin-top: 0px;

    h1{
      font-size: 48px;
      margin-bottom: 24px;
      font-family: $Roboto;
      font-weight: 500;
    }

    h2 {
      font-size: 24px;
      line-height: 36px;
      font-weight: normal;
      font-family: $Roboto;
      color: #424242;
    }

    a {
     text-decoration: none;
     border-bottom: 1px solid black;
     padding-bottom: 1px;
     }

     a:hover {
       color:#424242;
     }

}
.independent {
    color: $indy-red;
}

.myOwnApps {
    color: $site-color;
}

@media (max-width: 767px) {
  .jumbotron{
    h1 {
      font-size: 5rem;
    }
  }
}

.jumbotron p {
    font-size: 1em;
    // margin-bottom: 0.2em;
    color: #fff;
}

.card{
  background-color: white;
  padding: 16px;
  color: #333;

  h1{
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }
}

.logo {
  border-style: hidden;
}

.links {
  margin-top: 40px;
  margin-bottom: 40px;
}
