Navbar {
    background-color: white;
}

nav.navbar.navbar-default.navbar-fixed-top {
  border-bottom: 0px;
  background-color: white;
}

button.navbar-toggle.collapsed {
  border: 0px;
}

a.navbar-brand {

}

.links {
   a {
    text-decoration: none;
    border-bottom: 1px solid #ec1232;
    // padding-bottom: 1px;
    color: #000;
}
}
