Navbar {
    background-color: white;
    font-weight: 400;
}

nav.navbar.navbar-default.navbar-fixed-top {
  border-bottom: 0px;
  background-color: white;
}

button.navbar-toggle.collapsed {
  border: 0px;
}

a.navbar-brand {

}
