body {
    font-family: $Assistant;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.4px;
    overflow-x: hidden;
}

html {
  overflow-x: hidden;
}
p {
  margin-bottom: 2px;
}

.writersSection{
  background-color: #f3f3f3;
}

.darkBack {
  background-color: #141414;
  color: #f5f5f5;
  h2 {
    color: #ffffff;
    font-weight: bold;
  }
  blockquote{
    color: #ffffff;
  }
}

.container-fluid {
  padding:4px;
}

.topborder {
    border-color: #212121;
    border-style: solid;
    border-width: 4px 0 0;
}

.topwhiteborder {
    border-color: white;
    border-style: solid;
    border-width: 4px 0 0;
}

.topBottomMargins {
    padding-top: 6em;
    padding-bottom: 6em;
}

.topMargin {
    padding-top: 3em;
}

.topBottomLargeMargins {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.noBottomMargin {
  padding-top: 3em;
}
.blackBack {
  padding-top: 6em;
  padding-bottom: 6em;
  color: white;
  background-color: #111111;
}

.blackBack h1 {
    color: white;
}

.colourBack {
    background-color: #f5f5f5;
    color: #010101;
}

.colourBack h1 {
    color: #fff;
}

.topMargin {
    margin-top: 2rem;
}

.topMarginSmall {
    margin-top: 1rem;
}

.lightColourBack {
    background-color: $light-site-color;
}

.bottomMarginMedium {
    margin-bottom: 2rem;
}

.width100 {
    width: 100%;
}

.width30 {
  width: 30%;
}

.leftEmbed {
  float:left;
  margin:16px;
}

.rightEmbed {
  float:right;
  margin:16px;
}
@media (max-width: 767px) {
    .fullWidthMobile {
        padding-left: 0;
        padding-right: 0;
    }

    .width30 {
      width:50%;
      margin:auto;
    }

    .mobile{
      display:inherit;
    }
    .tablet {
      display: none;
    }

    .topBottomLargeMargins {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .jumbotron {
      padding: 0px;
    }

    .appsSplash{
      padding-top: 80px;
      padding-bottom: 80px;
    }
}
@media (min-width: 768px) {
    .mobile {
      display:none;
    }
    .tablet {
      display: inherit;
    }
}

.at {
  font-family: $Assistant;
}

.bottom-column
{
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

.appDescriptionBody{
    font-size: 16px;
    line-height: 24px;


    a {
     text-decoration: none;
     border-bottom: 1px solid $site-color;
     // padding-bottom: 1px;
     color: #000;
    }

    h2 {
      font-family: $Assistant;
      font-weight: bold;
    }
}

@media (max-width:400px) {
  .width30 {
    width:100%;
    margin:auto;
  }
}

blockquote {
  text-align: center;
  border: none;
  font-size: 3rem;
  line-height: 3.8rem;
  font-family: $Libre;
  font-style: italic;
  padding:16px;
  margin-bottom: 0px;
}

// blockquote:after {
//   color: #ccc;
//   content: close-quote;
//   font-family: $Libre;
//   font-size: 4em;
//   line-height: 0.1em;
//   vertical-align: -1em;
// }

.width1500 {
  width:1000px;
}

h1 {
  font-size:7rem;
  font-weight: 400;
  font-family: $Assistant;
}

.section_header {
  font-size: 48px;
  font-family: $PermanentMarker;
  margin-bottom: 48px;
}

.rightAlign {
  text-align: right;
}

.centerAlign {
  text-align: center;
}
