.frontpageImage{
  width: 100%;
  margin-bottom: -230px;
}

.homeTiles{
  a {
    color: #333;
  }
  background-color: #f5f5f5;
}

.appTile {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.23);

  .appTileTag{
    margin: 16px 16px 0px 16px;
  }

  .colourFlashIndependent {
    width: 100%;
    height: 64px;
    background: #ec1a2e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(20deg, #ec1a2e , #ec1a69); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(20deg, #ec1a2e, #ec1a69); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(20deg, #ec1a2e, #ec1a69); /* For Firefox 3.6 to 15 */
    background: linear-gradient(20deg, #ec1a2e , #ec1a69); /* Standard syntax */
    border-radius: 8px 8px 0px 0px;
  }

  .colourFlashStandard {
    width: 100%;
    height: 64px;
    background: #ff970d; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(20deg, #ff970d , #ffd30d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(20deg, #ff970d, #ffd30d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(20deg, #ff970d, #ffd30d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(20deg, #ff970d , #ffd30d); /* Standard syntax */
    border-radius: 8px 8px 0px 0px;
  }

  .colourFlashNewsletter {
    width: 100%;
    height: 64px;
    background: #008272; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(20deg, #008272 , #00beb2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(20deg, #008272, #00beb2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(20deg, #008272, #00beb2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(20deg, #008272 , #00beb2); /* Standard syntax */
    border-radius: 8px 8px 0px 0px;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  h2 {
    font-size: 32px;
    margin: 0px 16px 16px 16px;
  }

  h3{
    margin: 0 16px 16px;
    padding-bottom: 80px;
  }

  button {
    border-radius: 32px;
    float: right;
    margin: 16px;
    margin-top: -64px;
  }
}

.eveTile {

}

.indTile {

}

.lesTile {

}

.appSection {
    color: #333;
    margin-bottom: 0px;

    h1{
      font-size: 32px;
      margin-bottom: 12px;
      font-weight: 300;
    }

    h2 {
      font-size: 20px;
      font-weight: normal;
      font-family: $Adamina;
      letter-spacing: 0.4px;
    }

    .container{

    }

}
