h2 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 400;
}

.appTile {
  height: 200px;
  background-color: #f3f3f3;
  padding:16px;

  h3 {
    // text-align: center;
    font-size: 18px;
    margin-bottom: 4px;
    margin-top: 0px;
    font-weight: bold;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.9);
  }

  h4 {
    // text-align: center;
    font-size: 16px;
    margin-top: 0px;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.9);
  }
}

.eveTile {
    background: #f5f5f5 url("../images/eve_homeTile.jpg") no-repeat right center;
    background-size: 360px 200px;
}

.indTile {
    background: #f5f5f5 url("../images/independentsubs_homeTile.jpg") no-repeat right center;
    background-size: 360px 200px;
}

.altTile {
    background: #f5f5f5 url("../images/alta_homeTile.jpg") no-repeat right center;
    background-size: 360px 200px;
}

.appsTile {
    background: #f5f5f5 url("../images/independentsubs_homeTile.jpg") no-repeat right center;
    background-size: 360px 200px;
}
